In [85]:
import pandas as pd
import numpy as np

## Load Data

#### Turbine 1

In [48]:
turbine_1 = pd.read_csv("raw/Turbine1.csv", sep=";")
turbine_1.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,kWh,Imp,Imp,Bit,Bit,,,,
1,"01.01.2016, 00:10","5,8",10,"268,5","161,4",31533151,5742941,48371,46008,"14,8",...,0,0,0,0,0,0,0,0,0,0
2,"01.01.2016, 00:20","5,8",10,"268,5","161,4",31533151,5742941,48371,46008,"14,8",...,0,0,0,0,0,0,0,0,0,0
3,"01.01.2016, 00:30","5,8",10,"272,1","160,6",31533151,5742983,48371,46008,"15,9",...,0,0,0,0,0,0,0,0,0,0
4,"01.01.2016, 00:40","6,4",10,"320,1",162,31533151,5743039,48371,46008,"17,7",...,0,0,0,0,0,0,0,0,0,0

In [49]:
turbine_1.tail()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
13099,"31.03.2016, 23:10","5,2",10,"228,2","359,1",32300592,5866558,49430,46892,"16,2",...,1595,71,0,0,0,0,0,0,0,0
13100,"31.03.2016, 23:20","5,3",10,"237,8","359,7",32300592,5866593,49430,46892,17,...,1595,71,0,0,0,0,0,0,0,0
13101,"31.03.2016, 23:30","5,2",10,"209,9","0,3",32300592,5866632,49430,46892,17,...,1595,71,0,0,0,0,0,0,0,0
13102,"31.03.2016, 23:40","5,2",10,"220,5",0,32300592,5866670,49430,46892,17,...,1595,71,0,0,0,0,0,0,0,0
13103,"31.03.2016, 23:50","5,9",10,"274,1","1,1",32300592,5866712,49430,46892,"17,8",...,1595,71,0,0,0,0,0,0,0,0

In [50]:
turbine_1.shape

(13104, 31)

In [51]:
turbine_1.dtypes

         Dat/Zeit    object
  Wind               object
Rotor                object
Leistung             object
Azimut               object
   Prod. 1           object
   Prod. 2           object
BtrStd 1             object
BtrStd 2             object
Gen1-                object
Lager                object
Außen                object
GetrT                object
 Status              object
Spann                object
Spann.1              object
Spann.2              object
Strom-               object
Strom-.1             object
Strom-.2             object
CosPh                object
    Abgabe           object
     Bezug           object
  KH-Zähl1           object
  KH-Zähl2           object
  KH-DigiE           object
  KH-DigiI           object
  KH-Ana-1           object
  KH-Ana-2           object
  KH-Ana-3           object
  KH-Ana-4           object
dtype: object

#### Turbine 2

In [52]:
turbine_2 = pd.read_csv("raw/Turbine2.csv", sep=";")
turbine_2.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,kWh,Imp,Imp,Bit,Bit,,,,
1,"01.01.2016, 00:10","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,0
2,"01.01.2016, 00:20","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,0
3,"01.01.2016, 00:30","4,4",10,"162,1","160,8",33270717,1712059,48925,45171,14,...,0,0,0,0,0,0,0,0,0,0
4,"01.01.2016, 00:40","5,4",10,"265,1","161,3",33270717,1712105,48925,45171,"14,8",...,0,0,0,0,0,0,0,0,0,0

In [53]:
turbine_2.tail()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
13099,"31.03.2016, 23:10","5,1",10,"229,8","356,1",34103533,1823091,50073,45943,"19,5",...,1202,21,0,0,0,0,0,0,0,0
13100,"31.03.2016, 23:20","5,1",10,"226,4","355,8",34103533,1823136,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0
13101,"31.03.2016, 23:30","5,4",10,"254,3","355,4",34103533,1823175,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0
13102,"31.03.2016, 23:40","5,4",10,"240,9",359,34103533,1823215,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0
13103,"31.03.2016, 23:50","5,4",10,"278,3","352,7",34103533,1823268,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0

In [54]:
turbine_2.shape

(13104, 31)

In [55]:
turbine_2.dtypes

         Dat/Zeit    object
  Wind               object
Rotor                object
Leistung             object
Azimut               object
   Prod. 1           object
   Prod. 2           object
BtrStd 1             object
BtrStd 2             object
Gen1-                object
Lager                object
Außen                object
GetrT                object
 Status              object
Spann                object
Spann.1              object
Spann.2              object
Strom-               object
Strom-.1             object
Strom-.2             object
CosPh                object
    Abgabe           object
     Bezug           object
  KH-Zähl1           object
  KH-Zähl2           object
  KH-DigiE           object
  KH-DigiI           object
  KH-Ana-1           object
  KH-Ana-2           object
  KH-Ana-3           object
  KH-Ana-4           object
dtype: object

## Missing Value

#### Turbine 1

In [56]:
missing_value_T1_sum = turbine_1.isnull().sum()
missing_value_T1_sum

         Dat/Zeit    0
  Wind               0
Rotor                0
Leistung             0
Azimut               0
   Prod. 1           0
   Prod. 2           0
BtrStd 1             0
BtrStd 2             0
Gen1-                0
Lager                0
Außen                0
GetrT                0
 Status              0
Spann                0
Spann.1              0
Spann.2              0
Strom-               0
Strom-.1             0
Strom-.2             0
CosPh                0
    Abgabe           0
     Bezug           0
  KH-Zähl1           0
  KH-Zähl2           0
  KH-DigiE           0
  KH-DigiI           0
  KH-Ana-1           0
  KH-Ana-2           0
  KH-Ana-3           0
  KH-Ana-4           0
dtype: int64

#### Turbine 2

In [57]:
missing_value_T2_sum = turbine_2.isnull().sum()
missing_value_T2_sum

         Dat/Zeit    0
  Wind               0
Rotor                0
Leistung             0
Azimut               0
   Prod. 1           0
   Prod. 2           0
BtrStd 1             0
BtrStd 2             0
Gen1-                0
Lager                0
Außen                0
GetrT                0
 Status              0
Spann                0
Spann.1              0
Spann.2              0
Strom-               0
Strom-.1             0
Strom-.2             0
CosPh                0
    Abgabe           0
     Bezug           0
  KH-Zähl1           0
  KH-Zähl2           0
  KH-DigiE           0
  KH-DigiI           0
  KH-Ana-1           0
  KH-Ana-2           0
  KH-Ana-3           0
  KH-Ana-4           0
dtype: int64

## Fix Column

In [58]:
turbine_1.columns = turbine_1.columns.str.strip()
turbine_1.columns

Index(['Dat/Zeit', 'Wind', 'Rotor', 'Leistung', 'Azimut', 'Prod. 1', 'Prod. 2',
       'BtrStd 1', 'BtrStd 2', 'Gen1-', 'Lager', 'Außen', 'GetrT', 'Status',
       'Spann', 'Spann.1', 'Spann.2', 'Strom-', 'Strom-.1', 'Strom-.2',
       'CosPh', 'Abgabe', 'Bezug', 'KH-Zähl1', 'KH-Zähl2', 'KH-DigiE',
       'KH-DigiI', 'KH-Ana-1', 'KH-Ana-2', 'KH-Ana-3', 'KH-Ana-4'],
      dtype='object')

In [59]:
turbine_2.columns = turbine_2.columns.str.strip()
turbine_2.columns

Index(['Dat/Zeit', 'Wind', 'Rotor', 'Leistung', 'Azimut', 'Prod. 1', 'Prod. 2',
       'BtrStd 1', 'BtrStd 2', 'Gen1-', 'Lager', 'Außen', 'GetrT', 'Status',
       'Spann', 'Spann.1', 'Spann.2', 'Strom-', 'Strom-.1', 'Strom-.2',
       'CosPh', 'Abgabe', 'Bezug', 'KH-Zähl1', 'KH-Zähl2', 'KH-DigiE',
       'KH-DigiI', 'KH-Ana-1', 'KH-Ana-2', 'KH-Ana-3', 'KH-Ana-4'],
      dtype='object')

In [60]:
list(turbine_2.columns)

['Dat/Zeit',
 'Wind',
 'Rotor',
 'Leistung',
 'Azimut',
 'Prod. 1',
 'Prod. 2',
 'BtrStd 1',
 'BtrStd 2',
 'Gen1-',
 'Lager',
 'Außen',
 'GetrT',
 'Status',
 'Spann',
 'Spann.1',
 'Spann.2',
 'Strom-',
 'Strom-.1',
 'Strom-.2',
 'CosPh',
 'Abgabe',
 'Bezug',
 'KH-Zähl1',
 'KH-Zähl2',
 'KH-DigiE',
 'KH-DigiI',
 'KH-Ana-1',
 'KH-Ana-2',
 'KH-Ana-3',
 'KH-Ana-4']

In [63]:
is_numeric = turbine_2["Dat/Zeit"].astype(str).str.isnumeric()

In [45]:
True in is_numeric

True

In [46]:
is_numeric

0        False
1        False
2        False
3        False
4        False
         ...
13099    False
13100    False
13101    False
13102    False
13103    False
Name:          Dat/Zeit, Length: 13104, dtype: bool

In [29]:
turbine_2["  KH-Ana-4"][is_numeric == False]

0
Name:   KH-Ana-4, dtype: object

In [42]:
print(is_numeric.value_counts()[True])

13103

In [40]:
is_numeric.index[is_numeric == False].to_list()

[0]

In [43]:
is_numeric.value_counts()[True]

13103

In [66]:
turbine_2.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4,test
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,Imp,Imp,Bit,Bit,,,,,1000
1,"01.01.2016, 00:10","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,1000
2,"01.01.2016, 00:20","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,1000
3,"01.01.2016, 00:30","4,4",10,"162,1","160,8",33270717,1712059,48925,45171,14,...,0,0,0,0,0,0,0,0,0,1000
4,"01.01.2016, 00:40","5,4",10,"265,1","161,3",33270717,1712105,48925,45171,"14,8",...,0,0,0,0,0,0,0,0,0,1000

In [65]:
turbine_2["test"] = 1000

In [126]:
turbine_2 = pd.read_csv("raw/Turbine2.csv", sep=";", decimal=",")

turbine_2.columns = turbine_2.columns.str.strip()


units = turbine_2.iloc[0]
units = units.str.strip()
units = units.replace("", np.nan)
units = units.dropna()
for col in list(turbine_2.columns):
    if col in list(units.index):
        col_unit_name = col+" unit"
        turbine_2[col_unit_name] = units[col]

turbine_2 = turbine_2.drop([0]).reset_index(drop=True)

turbine_2['Dat/Zeit'] = pd.to_datetime(turbine_2['Dat/Zeit'], format="%d.%m.%Y, %H:%M")

turbine_2

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Spann.2 unit,Strom- unit,Strom-.1 unit,Strom-.2 unit,Abgabe unit,Bezug unit,KH-Zähl1 unit,KH-Zähl2 unit,KH-DigiE unit,KH-DigiI unit
0,2016-01-01 00:10:00,"4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
1,2016-01-01 00:20:00,"4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
2,2016-01-01 00:30:00,"4,4",10,"162,1","160,8",33270717,1712059,48925,45171,14,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
3,2016-01-01 00:40:00,"5,4",10,"265,1","161,3",33270717,1712105,48925,45171,"14,8",...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
4,2016-01-01 00:50:00,"5,3",10,"283,8","161,2",33270717,1712147,48925,45172,17,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,2016-03-31 23:10:00,"5,1",10,"229,8","356,1",34103533,1823091,50073,45943,"19,5",...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13099,2016-03-31 23:20:00,"5,1",10,"226,4","355,8",34103533,1823136,50073,45943,20,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13100,2016-03-31 23:30:00,"5,4",10,"254,3","355,4",34103533,1823175,50073,45943,20,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13101,2016-03-31 23:40:00,"5,4",10,"240,9",359,34103533,1823215,50073,45943,20,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13102,2016-03-31 23:50:00,"5,4",10,"278,3","352,7",34103533,1823268,50073,45943,20,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit

In [129]:
turbine_2.to_csv("clean/Turbine2.csv", sep=';')

In [132]:
turbine_2 = pd.read_csv("clean/Turbine2.csv", sep=";", decimal=",")
turbine_2

,Unnamed: 0,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,...,Spann.2 unit,Strom- unit,Strom-.1 unit,Strom-.2 unit,Abgabe unit,Bezug unit,KH-Zähl1 unit,KH-Zähl2 unit,KH-DigiE unit,KH-DigiI unit
0,0,2016-01-01 00:10:00,4.2,10.0,139.3,161.7,33270717,1712034,48925,45171,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
1,1,2016-01-01 00:20:00,4.2,10.0,139.3,161.7,33270717,1712034,48925,45171,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
2,2,2016-01-01 00:30:00,4.4,10.0,162.1,160.8,33270717,1712059,48925,45171,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
3,3,2016-01-01 00:40:00,5.4,10.0,265.1,161.3,33270717,1712105,48925,45171,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
4,4,2016-01-01 00:50:00,5.3,10.0,283.8,161.2,33270717,1712147,48925,45172,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,13098,2016-03-31 23:10:00,5.1,10.0,229.8,356.1,34103533,1823091,50073,45943,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13099,13099,2016-03-31 23:20:00,5.1,10.0,226.4,355.8,34103533,1823136,50073,45943,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13100,13100,2016-03-31 23:30:00,5.4,10.0,254.3,355.4,34103533,1823175,50073,45943,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13101,13101,2016-03-31 23:40:00,5.4,10.0,240.9,359.0,34103533,1823215,50073,45943,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
13102,13102,2016-03-31 23:50:00,5.4,10.0,278.3,352.7,34103533,1823268,50073,45943,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit

In [124]:
turbine_2["Dat/Zeit"][5310]

'06.02.2016, 21:10'

0       2016-01-01 00:10:00
1       2016-01-01 00:20:00
2       2016-01-01 00:30:00
3       2016-01-01 00:40:00
4       2016-01-01 00:50:00
                ...
13098   2016-03-31 23:10:00
13099   2016-03-31 23:20:00
13100   2016-03-31 23:30:00
13101   2016-03-31 23:40:00
13102   2016-03-31 23:50:00
Name: Dat/Zeit, Length: 13103, dtype: datetime64[ns]

In [102]:
turbine_2.dtypes

         Dat/Zeit    object
  Wind               object
Rotor                object
Leistung             object
Azimut               object
   Prod. 1           object
   Prod. 2           object
BtrStd 1             object
BtrStd 2             object
Gen1-                object
Lager                object
Außen                object
GetrT                object
 Status              object
Spann                object
Spann.1              object
Spann.2              object
Strom-               object
Strom-.1             object
Strom-.2             object
CosPh                object
    Abgabe           object
     Bezug           object
  KH-Zähl1           object
  KH-Zähl2           object
  KH-DigiE           object
  KH-DigiI           object
  KH-Ana-1           object
  KH-Ana-2           object
  KH-Ana-3           object
  KH-Ana-4           object
  Wind unit          object
Rotor unit           object
Leistung unit        object
Azimut unit          object
   Prod. 1 unit      object
   Prod. 2 unit      object
BtrStd 1 unit        object
BtrStd 2 unit        object
Gen1- unit           object
Lager unit           object
Außen unit           object
GetrT unit           object
Spann unit           object
Spann.1 unit         object
Spann.2 unit         object
Strom- unit          object
Strom-.1 unit        object
Strom-.2 unit        object
    Abgabe unit      object
     Bezug unit      object
  KH-Zähl1 unit      object
  KH-Zähl2 unit      object
  KH-DigiE unit      object
  KH-DigiI unit      object
dtype: object

In [86]:
units = turbine_2.iloc[0]
units = units.str.strip()
units = units.replace("", np.nan)
units = units.dropna()
units

Wind        m/s
Rotor       rpm
Leistung     kW
Azimut        °
Prod. 1     kWh
Prod. 2     kWh
BtrStd 1      h
BtrStd 2      h
Gen1-        °C
Lager        °C
Außen        °C
GetrT        °C
Spann         V
Spann.1       V
Spann.2       V
Strom-        A
Strom-.1      A
Strom-.2      A
Abgabe      kWh
Bezug       kWh
KH-Zähl1    Imp
KH-Zähl2    Imp
KH-DigiE    Bit
KH-DigiI    Bit
Name: 0, dtype: object

In [88]:
list(units.index)

['Wind',
 'Rotor',
 'Leistung',
 'Azimut',
 'Prod. 1',
 'Prod. 2',
 'BtrStd 1',
 'BtrStd 2',
 'Gen1-',
 'Lager',
 'Außen',
 'GetrT',
 'Spann',
 'Spann.1',
 'Spann.2',
 'Strom-',
 'Strom-.1',
 'Strom-.2',
 'Abgabe',
 'Bezug',
 'KH-Zähl1',
 'KH-Zähl2',
 'KH-DigiE',
 'KH-DigiI']

In [84]:
units

Dat/Zeit
Wind        m/s
Rotor       rpm
Leistung     kW
Azimut        °
Prod. 1     kWh
Prod. 2     kWh
BtrStd 1      h
BtrStd 2      h
Gen1-        °C
Lager        °C
Außen        °C
GetrT        °C
Status
Spann         V
Spann.1       V
Spann.2       V
Strom-        A
Strom-.1      A
Strom-.2      A
CosPh
Abgabe      kWh
Bezug       kWh
KH-Zähl1    Imp
KH-Zähl2    Imp
KH-DigiE    Bit
KH-DigiI    Bit
KH-Ana-1
KH-Ana-2
KH-Ana-3
KH-Ana-4
test        NaN
Name: 0, dtype: object