In [10]:
import pandas as pd
import numpy as np
from datetime import datetime

## Load Data

#### Turbine 1

In [2]:
turbine_1 = pd.read_csv("raw/Turbine1.csv", sep=";")
turbine_1.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,kWh,Imp,Imp,Bit,Bit,,,,
1,"01.01.2016, 00:10","5,8",10,"268,5","161,4",31533151,5742941,48371,46008,"14,8",...,0,0,0,0,0,0,0,0,0,0
2,"01.01.2016, 00:20","5,8",10,"268,5","161,4",31533151,5742941,48371,46008,"14,8",...,0,0,0,0,0,0,0,0,0,0
3,"01.01.2016, 00:30","5,8",10,"272,1","160,6",31533151,5742983,48371,46008,"15,9",...,0,0,0,0,0,0,0,0,0,0
4,"01.01.2016, 00:40","6,4",10,"320,1",162,31533151,5743039,48371,46008,"17,7",...,0,0,0,0,0,0,0,0,0,0

In [3]:
turbine_1.tail()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
13099,"31.03.2016, 23:10","5,2",10,"228,2","359,1",32300592,5866558,49430,46892,"16,2",...,1595,71,0,0,0,0,0,0,0,0
13100,"31.03.2016, 23:20","5,3",10,"237,8","359,7",32300592,5866593,49430,46892,17,...,1595,71,0,0,0,0,0,0,0,0
13101,"31.03.2016, 23:30","5,2",10,"209,9","0,3",32300592,5866632,49430,46892,17,...,1595,71,0,0,0,0,0,0,0,0
13102,"31.03.2016, 23:40","5,2",10,"220,5",0,32300592,5866670,49430,46892,17,...,1595,71,0,0,0,0,0,0,0,0
13103,"31.03.2016, 23:50","5,9",10,"274,1","1,1",32300592,5866712,49430,46892,"17,8",...,1595,71,0,0,0,0,0,0,0,0

In [4]:
turbine_1.shape

(13104, 31)

In [5]:
turbine_1.dtypes

         Dat/Zeit    object
  Wind               object
Rotor                object
Leistung             object
Azimut               object
   Prod. 1           object
   Prod. 2           object
BtrStd 1             object
BtrStd 2             object
Gen1-                object
Lager                object
Außen                object
GetrT                object
 Status              object
Spann                object
Spann.1              object
Spann.2              object
Strom-               object
Strom-.1             object
Strom-.2             object
CosPh                object
    Abgabe           object
     Bezug           object
  KH-Zähl1           object
  KH-Zähl2           object
  KH-DigiE           object
  KH-DigiI           object
  KH-Ana-1           object
  KH-Ana-2           object
  KH-Ana-3           object
  KH-Ana-4           object
dtype: object

#### Turbine 2

In [6]:
turbine_2 = pd.read_csv("raw/Turbine2.csv", sep=";")
turbine_2.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,kWh,Imp,Imp,Bit,Bit,,,,
1,"01.01.2016, 00:10","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,0
2,"01.01.2016, 00:20","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,0
3,"01.01.2016, 00:30","4,4",10,"162,1","160,8",33270717,1712059,48925,45171,14,...,0,0,0,0,0,0,0,0,0,0
4,"01.01.2016, 00:40","5,4",10,"265,1","161,3",33270717,1712105,48925,45171,"14,8",...,0,0,0,0,0,0,0,0,0,0

In [7]:
turbine_2.tail()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Abgabe,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4
13099,"31.03.2016, 23:10","5,1",10,"229,8","356,1",34103533,1823091,50073,45943,"19,5",...,1202,21,0,0,0,0,0,0,0,0
13100,"31.03.2016, 23:20","5,1",10,"226,4","355,8",34103533,1823136,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0
13101,"31.03.2016, 23:30","5,4",10,"254,3","355,4",34103533,1823175,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0
13102,"31.03.2016, 23:40","5,4",10,"240,9",359,34103533,1823215,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0
13103,"31.03.2016, 23:50","5,4",10,"278,3","352,7",34103533,1823268,50073,45943,20,...,1202,21,0,0,0,0,0,0,0,0

In [8]:
turbine_2.shape

(13104, 31)

In [9]:
turbine_2.dtypes

         Dat/Zeit    object
  Wind               object
Rotor                object
Leistung             object
Azimut               object
   Prod. 1           object
   Prod. 2           object
BtrStd 1             object
BtrStd 2             object
Gen1-                object
Lager                object
Außen                object
GetrT                object
 Status              object
Spann                object
Spann.1              object
Spann.2              object
Strom-               object
Strom-.1             object
Strom-.2             object
CosPh                object
    Abgabe           object
     Bezug           object
  KH-Zähl1           object
  KH-Zähl2           object
  KH-DigiE           object
  KH-DigiI           object
  KH-Ana-1           object
  KH-Ana-2           object
  KH-Ana-3           object
  KH-Ana-4           object
dtype: object

## Missing Value

#### Turbine 1

In [10]:
missing_value_T1_sum = turbine_1.isnull().sum()
missing_value_T1_sum

         Dat/Zeit    0
  Wind               0
Rotor                0
Leistung             0
Azimut               0
   Prod. 1           0
   Prod. 2           0
BtrStd 1             0
BtrStd 2             0
Gen1-                0
Lager                0
Außen                0
GetrT                0
 Status              0
Spann                0
Spann.1              0
Spann.2              0
Strom-               0
Strom-.1             0
Strom-.2             0
CosPh                0
    Abgabe           0
     Bezug           0
  KH-Zähl1           0
  KH-Zähl2           0
  KH-DigiE           0
  KH-DigiI           0
  KH-Ana-1           0
  KH-Ana-2           0
  KH-Ana-3           0
  KH-Ana-4           0
dtype: int64

#### Turbine 2

In [11]:
missing_value_T2_sum = turbine_2.isnull().sum()
missing_value_T2_sum

         Dat/Zeit    0
  Wind               0
Rotor                0
Leistung             0
Azimut               0
   Prod. 1           0
   Prod. 2           0
BtrStd 1             0
BtrStd 2             0
Gen1-                0
Lager                0
Außen                0
GetrT                0
 Status              0
Spann                0
Spann.1              0
Spann.2              0
Strom-               0
Strom-.1             0
Strom-.2             0
CosPh                0
    Abgabe           0
     Bezug           0
  KH-Zähl1           0
  KH-Zähl2           0
  KH-DigiE           0
  KH-DigiI           0
  KH-Ana-1           0
  KH-Ana-2           0
  KH-Ana-3           0
  KH-Ana-4           0
dtype: int64

## Fix Column

In [12]:
turbine_1.columns = turbine_1.columns.str.strip()
turbine_1.columns

Index(['Dat/Zeit', 'Wind', 'Rotor', 'Leistung', 'Azimut', 'Prod. 1', 'Prod. 2',
       'BtrStd 1', 'BtrStd 2', 'Gen1-', 'Lager', 'Außen', 'GetrT', 'Status',
       'Spann', 'Spann.1', 'Spann.2', 'Strom-', 'Strom-.1', 'Strom-.2',
       'CosPh', 'Abgabe', 'Bezug', 'KH-Zähl1', 'KH-Zähl2', 'KH-DigiE',
       'KH-DigiI', 'KH-Ana-1', 'KH-Ana-2', 'KH-Ana-3', 'KH-Ana-4'],
      dtype='object')

In [13]:
turbine_2.columns = turbine_2.columns.str.strip()
turbine_2.columns

Index(['Dat/Zeit', 'Wind', 'Rotor', 'Leistung', 'Azimut', 'Prod. 1', 'Prod. 2',
       'BtrStd 1', 'BtrStd 2', 'Gen1-', 'Lager', 'Außen', 'GetrT', 'Status',
       'Spann', 'Spann.1', 'Spann.2', 'Strom-', 'Strom-.1', 'Strom-.2',
       'CosPh', 'Abgabe', 'Bezug', 'KH-Zähl1', 'KH-Zähl2', 'KH-DigiE',
       'KH-DigiI', 'KH-Ana-1', 'KH-Ana-2', 'KH-Ana-3', 'KH-Ana-4'],
      dtype='object')

In [14]:
list(turbine_2.columns)

['Dat/Zeit',
 'Wind',
 'Rotor',
 'Leistung',
 'Azimut',
 'Prod. 1',
 'Prod. 2',
 'BtrStd 1',
 'BtrStd 2',
 'Gen1-',
 'Lager',
 'Außen',
 'GetrT',
 'Status',
 'Spann',
 'Spann.1',
 'Spann.2',
 'Strom-',
 'Strom-.1',
 'Strom-.2',
 'CosPh',
 'Abgabe',
 'Bezug',
 'KH-Zähl1',
 'KH-Zähl2',
 'KH-DigiE',
 'KH-DigiI',
 'KH-Ana-1',
 'KH-Ana-2',
 'KH-Ana-3',
 'KH-Ana-4']

In [15]:
is_numeric = turbine_2["Dat/Zeit"].astype(str).str.isnumeric()

In [16]:
True in is_numeric

True

In [17]:
is_numeric

0        False
1        False
2        False
3        False
4        False
         ...
13099    False
13100    False
13101    False
13102    False
13103    False
Name: Dat/Zeit, Length: 13104, dtype: bool

In [18]:
turbine_2["  KH-Ana-4"][is_numeric == False]

KeyError: '  KH-Ana-4'

In [ ]:
print(is_numeric.value_counts()[True])

13103

In [ ]:
is_numeric.index[is_numeric == False].to_list()

[0]

In [ ]:
is_numeric.value_counts()[True]

13103

In [ ]:
turbine_2.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Bezug,KH-Zähl1,KH-Zähl2,KH-DigiE,KH-DigiI,KH-Ana-1,KH-Ana-2,KH-Ana-3,KH-Ana-4,test
0,,m/s,rpm,kW,°,kWh,kWh,h,h,°C,...,kWh,Imp,Imp,Bit,Bit,,,,,1000
1,"01.01.2016, 00:10","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,1000
2,"01.01.2016, 00:20","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,0,0,0,0,0,0,0,0,0,1000
3,"01.01.2016, 00:30","4,4",10,"162,1","160,8",33270717,1712059,48925,45171,14,...,0,0,0,0,0,0,0,0,0,1000
4,"01.01.2016, 00:40","5,4",10,"265,1","161,3",33270717,1712105,48925,45171,"14,8",...,0,0,0,0,0,0,0,0,0,1000

In [ ]:
turbine_2["test"] = 1000

### Convert pd.Timestamp to datetime

In [3]:
turbine_2 = pd.read_csv("raw/Turbine2.csv", sep=";", decimal=",")

turbine_2.columns = turbine_2.columns.str.strip()


units = turbine_2.iloc[0]
units = units.str.strip()
units = units.replace("", np.nan)
units = units.dropna()
for col in list(turbine_2.columns):
    if col in list(units.index):
        col_unit_name = col+" unit"
        turbine_2[col_unit_name] = units[col]

turbine_2 = turbine_2.drop([0]).reset_index(drop=True)

# turbine_2['Dat/Zeit'] = pd.to_datetime(turbine_2['Dat/Zeit'], format="%d.%m.%Y, %H:%M")

turbine_2.head()

,Dat/Zeit,Wind,Rotor,Leistung,Azimut,Prod. 1,Prod. 2,BtrStd 1,BtrStd 2,Gen1-,...,Spann.2 unit,Strom- unit,Strom-.1 unit,Strom-.2 unit,Abgabe unit,Bezug unit,KH-Zähl1 unit,KH-Zähl2 unit,KH-DigiE unit,KH-DigiI unit
0,"01.01.2016, 00:10","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
1,"01.01.2016, 00:20","4,2",10,"139,3","161,7",33270717,1712034,48925,45171,"14,5",...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
2,"01.01.2016, 00:30","4,4",10,"162,1","160,8",33270717,1712059,48925,45171,14,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
3,"01.01.2016, 00:40","5,4",10,"265,1","161,3",33270717,1712105,48925,45171,"14,8",...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit
4,"01.01.2016, 00:50","5,3",10,"283,8","161,2",33270717,1712147,48925,45172,17,...,V,A,A,A,kWh,kWh,Imp,Imp,Bit,Bit

In [29]:
pd.to_datetime(turbine_2['Dat/Zeit'][0], format="%d.%m.%Y, %H:%M")

Timestamp('2016-01-01 00:10:00')

In [22]:
cols = list(turbine_2.columns)
for col in cols:
    if "unit" in col:
        print(col)
        print(col.split(" unit"))

Wind unit
['Wind', '']
Rotor unit
['Rotor', '']
Leistung unit
['Leistung', '']
Azimut unit
['Azimut', '']
Prod. 1 unit
['Prod. 1', '']
Prod. 2 unit
['Prod. 2', '']
BtrStd 1 unit
['BtrStd 1', '']
BtrStd 2 unit
['BtrStd 2', '']
Gen1- unit
['Gen1-', '']
Lager unit
['Lager', '']
Außen unit
['Außen', '']
GetrT unit
['GetrT', '']
Spann unit
['Spann', '']
Spann.1 unit
['Spann.1', '']
Spann.2 unit
['Spann.2', '']
Strom- unit
['Strom-', '']
Strom-.1 unit
['Strom-.1', '']
Strom-.2 unit
['Strom-.2', '']
Abgabe unit
['Abgabe', '']
Bezug unit
['Bezug', '']
KH-Zähl1 unit
['KH-Zähl1', '']
KH-Zähl2 unit
['KH-Zähl2', '']
KH-DigiE unit
['KH-DigiE', '']
KH-DigiI unit
['KH-DigiI', '']

In [13]:
def arrage_dict(records_dict: dict) -> list:
    """
        arrange exported dict from csv_to_dict() to
        db structure in mongo db, return list of dict
    """
    arranged_dict = []
    for item in records_dict:
        # parse datetime
        item["Dat/Zeit"] = datetime.strptime(item["Dat/Zeit"], "%d.%m.%Y, %H:%M")
        
        # group unit with its value
        col_unit_names = []
        for key in item.keys():
            if "unit" in key:
                col_name, _ = key.split(" unit")

                # group unit and value
                item[col_name] = {
                    "value": item[col_name],
                    "unit": item[key]
                }

                # delete unit dict
                col_unit_names.append(key)
        
        # delete unit from dict
        for col_name in col_unit_names:
            del item[col_name]

        arranged_dict.append(item)
    
    return arranged_dict

In [14]:
df_dict = turbine_2.to_dict('records')
a = arrage_dict(df_dict)

ValueError: time data '01.01.2016, 00:10' does not match format '%Y-%m-%d, %H:%M'

In [9]:
df_dict[0]["Unnamed: 0"]

KeyError: 'Unnamed: 0'

In [ ]:
turbine_2["Dat/Zeit"][0].to_pydatetime()

datetime.datetime(2016, 1, 1, 0, 10)

In [ ]:
turbine_2["Dat/Zeit"][0]

Timestamp('2016-01-01 00:10:00')

In [ ]:
df_dict = turbine_2.to_dict('records')

In [ ]:
ts = df_dict[0]['Dat/Zeit']
print(ts)
type(ts)
ts

2016-01-01 00:10:00

Timestamp('2016-01-01 00:10:00')

In [ ]:
from datetime import datetime
datetime.fromtimestamp(df_dict[0]['Dat/Zeit'])

TypeError: an integer is required (got type Timestamp)

In [ ]:
df_dict[0]['Dat/Zeit']

Timestamp('2016-01-01 00:10:00')

In [ ]:
import time
time.time()

1645011757.119831

In [ ]:
datetime.fromtimestamp(time.time())

datetime.datetime(2022, 2, 16, 12, 43, 19, 592284)

In [ ]:
datetime(2022, 3, 2)

datetime.datetime(2022, 3, 2, 0, 0)